/* You can add global styles to this file, and also import other style files */
body {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
}